RewriteEngine On

RewriteRule ajouter-utilisateur$ ajouter-utilisateur.php [L]
RewriteRule ajouter-formation$ ajouter-formation.php [L]
RewriteRule evaluation$ evaluation.php [L]
RewriteRule inscrire-stagiaire-formation$ inscrire-stagiaire-formation.php [L]

RewriteRule connexion$ connexion.php [L]
