form
    display: flex
    flex-direction: column
    gap: 2rem

    div
        position: relative
        
    .form_group
        display: flex
        flex-direction: column
        gap: 0.5rem
        

    label
        display: inline-block
        width: 12rem

    input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="date"], button, select
        padding: 0.5rem
        font-size: 1rem
        width: 15rem
        border-radius: 0.2rem
        border: 1px solid #aaa
        outline: none
        font-family: Poppins
        
        &:focus
            border: 1px solid $color_active

    input[type="radio"] + label
        width: auto
        display: inline-block

    button        
        width: auto

        &:hover
            background-color: $color_active
            color: white
            border-color: white
            cursor: pointer

    fieldset
        padding: 1rem
        border: 1px solid #ccc
        border-radius: 0.2rem
        margin-bottom: 1rem

        &:hover
            border-color: $color_active

        legend
            padding: 0rem 1rem
            font-weight: bold
            font-size: 1.2rem
            text-transform: uppercase

        p 
            &.explication
                margin-bottom: 1rem
            &.reponse
                margin-bottom: .5rem
                font-size: .8rem